* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 98px;
  padding: 18px 16px;
  background: var(--primary-color);
  border-radius: 12px;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
}

.btn:hover {
  opacity: 0.9;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ========== Header ============ */
.header {
  position: relative;
  background: #e6f0ff;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 38px;
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar .actions {
  margin-left: auto;
}

.navbar .action-btn {
  border-radius: 8px;
}

.navbar ul a {
  font-weight: 500;
  size: 1.4rem;
  color: #4f5361;
  padding: 8px 14px;
}

.navbar ul a:hover,
.navbar .action-link:hover {
  text-decoration: underline;
}

.navbar .action-link {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--primary-color);
}

.navbar .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
}

.hero {
  margin-top: 130px;
}

.hero .info {
  width: 51%;
}

.hero .subtitle {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #687690;
}

.hero .title {
  margin-top: 8px;
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 1.19;
  letter-spacing: 0%;
  color: #000336;
}

.hero .desc {
  margin-top: 30px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.78;
  letter-spacing: 0%;
  color: #5a6473;
}

.hero-cta {
  min-width: 170px;
  margin-top: 40px;
}

.hero-img {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0px;
}

/* ========== Clients ============ */
.clients {
  margin-top: 79px;
  padding: 43px 0 64px;
}

.clients .row {
  display: flex;
  justify-content: space-between;
}

.clients .desc {
  color: #7d8589;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25; /* 125% */
}

.clients .row-desc {
  margin-top: 23px;
}

.clients .images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 96px;
}

/* ========== Guides ============ */
.guides {
  margin-top: 40px;
  padding: 93px 0 79px;
}

.guides .sub-title {
  position: relative;
  text-align: center;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1; /* 100% */
  color: #000339;
}

.guides .sub-title::before {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}

.guides .desc {
  width: 459px;
  max-width: 100%;
  margin: 20px auto 0;
  color: #5a6473;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

.list-guide {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.guide-item {
  margin: 0 70px;
  text-align: center;
}

.guide-item .title {
  margin-top: 26px;
  color: #3b3c45;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1; /* 110% */
}

.guide-item .link {
  display: inline-block;
  margin-top: 10px;
  color: #0689ff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
}

.guide-item .arrow {
  margin-left: 6px;
}

.guide-cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.guide-cta .btn {
  min-width: 170px;
}

/* ========== Featured ============ */
.featured {
  padding: 110px 0;
  margin-top: 41px;
  background: #f5fafe;
}

.featured .sub-title {
  color: #000339;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.featured .row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.featured .desc {
  color: #5a6473;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875; /* 187.5% */
}

.featured .link {
  display: flex;
  align-items: center;
  color: #0689ff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
}

.featured .link .arrow {
  margin-left: 8px;
}

.featured .list {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

.featured .item {
  flex: 1;
  background: #ffffff;
  border-radius: 12px;
}

.featured .item .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .item .body {
  padding: 17px 20px 24px;
}

.featured .item .title a {
  color: #000339;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5; /* 100% */
}

.featured .item .desc {
  --line-clamp: 3;
  color: #a3a6ab;
  font-size: 1.4rem;
  line-height: 1.5; /* 150% */
  font-style: normal;
  font-weight: 500;
  word-break: break-all;
}

.featured .item .info {
  display: flex;
  align-items: center;
  margin-top: 21px;
}

.featured .item .icon {
  margin-left: 23px;
}

.featured .item .icon:first-child {
  margin-left: 0;
}

.featured .item .label {
  margin-left: 8px;
  color: #4d4d52;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1; /* 100% */
  letter-spacing: 0.01rem;
}

/* ========== Stats ============ */
.stats {
  margin-top: 75px;
  padding: 50px 0;
}

.stats .content {
  width: 1048px;
}

.stats .row {
  display: flex;
}

.stats .img-block,
.stats .info {
  width: 50%;
}

.stats .img-block {
  position: relative;
}

.stats .stats-trend {
  position: absolute;
  top: 0;
  left: 0;
  width: 239px;
  padding: 45px 22px 40px;
  border-radius: 0px 0px 12px 12px;
  background: #fff;
}

.stats-trend .value {
  color: #000339;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.026rem;
}

.stats-trend .icon {
  margin-left: auto;
}

.stats-trend .desc {
  margin-top: 8px;
  color: #a7a7a7;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}

.stats-trend .separate {
  margin-top: 25px;
  height: 1.2px;
  background: #e9e9e9;
}

.stats .img-block .img {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 460px;
  border-radius: 12px;
  object-fit: cover;
}

.stats .info {
  padding: 79px 0 0 165px;
}

.stats .sub-title {
  position: relative;
  width: 269px;
  color: #000339;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.29; /* 128.571% */
}

.stats .sub-title::before {
  position: absolute;
  top: -10px;
  left: 0;
  content: "";
  display: block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}

.stats .info .desc {
  margin-top: 20px;
  width: 309px;
  color: #5a6473;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
}

.stats .avatar-block {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 14px;
  margin-top: 26px;
}

.stats .avatar-goup {
  display: flex;
}

.stats .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -3px;
  width: 16px;
  height: 16px;
  object-fit: cover;
  border-radius: 50%;
  font-size: 7px;
  color: #fff;
  background-color: var(--bg-color, #fff);
}

.stats .avatar:first-child {
  margin-left: 0;
}

.stats .row-qty {
  justify-content: space-between;
  margin-top: 110px;
  padding: 0 32px;
}

.row-qty .qty {
  color: #000;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.row-qty .qty-desc {
  margin-top: 24px;
  color: #7b8087;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* ========== Subscription ============ */
.subscription {
  margin-top: 90px;
}

.subscription .body {
  position: relative;
  height: 370px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: #063183;
}

.subscription .info {
  width: 671px;
  max-width: 100%;
  padding: 0 80px;
}

.subscription .info .sub-title {
  color: #fff;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5; /* 100% */
}

.subscription .info .desc {
  margin-top: 15px;
  color: #fff;
  opacity: 0.75;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
}

.subscription .info .btn {
  margin-top: 20px;
  min-width: 151px;
  background: #fff;
  color: #002366;
}

.subscription .image {
  position: absolute;
  bottom: 0;
  right: 221px;
}

/* Footer */
.footer {
  margin-top: 55px;
  padding: 50px 0 58px;
}

.footer .row {
  display: flex;
}

.footer .row-top {
  gap: 185px;
}

.footer .heading {
  color: #1c1c1d;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}

.footer .list,
.footer .desc {
  margin-top: 42px;
}

.footer .item {
  margin-top: 18px;
}

.footer .item a,
.footer .desc {
  color: #7a7a7e;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
}

.footer .desc {
  white-space: normal;
  line-height: 1.75;
}

.footer .scocial {
  margin-top: 40px;
}

.footer .row-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 81px;
}

.footer .copyright {
  color: #c2c2c2;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
}
